<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.lastProject.RealEstate.VO.Customer" alias="Customer" />
		<typeAlias type="com.lastProject.RealEstate.VO.Item" alias="Item" />
		<typeAlias type="com.lastProject.RealEstate.VO.Enterprise" alias="Enterprise" />
		<typeAlias type="java.util.HashMap" alias="Hmap"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="mapper/adminMapper.xml" />
		<mapper resource="mapper/customerMapper.xml" />
		<mapper resource="mapper/enterpriseMapper.xml" />
	</mappers>
</configuration>
