<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 게시판 처리 SQL -->
<mapper namespace="com.lastProject.RealEstate.DAO.CustomerMapper"> <!-- 인터페이스의 경로 -->
	
<!-- 회원가입 : Code here -->
<insert id="signup" parameterType="Customer">
INSERT INTO CUSTOMER(

	 CUSTOMER_ID
	,CUSTOMER_PW
	,CUSTOMER_NAME
	,CUSTOMER_ADDRESS
	,CUSTOMER_BIRTHDATE
	,CUSTOMER_NICKNAME
	,CUSTOMER_PHONE
	,CUSTOMER_GENDER
	,CUSTOMER_EMAIL

)VALUES(
	
	 #{customer_ID}
	,#{customer_PW}
	,#{customer_Name}
	,#{customer_Address}
	,#{customer_Birthdate}
	,#{customer_Nickname}
	,#{customer_Phone}
	,#{customer_Gender}
	,#{customer_Email}

)

</insert>
<!-- 회원가입시 아이디 중복체크 -->
<select id="checkid" resultType="Customer">
SELECT
	CUSTOMER_ID
FROM
	CUSTOMER

</select> 

<!-- 로그인 -->
<select id="login" resultType="Customer" parameterType="Customer">
SELECT
	 CUSTOMER_ID
	,CUSTOMER_PW
FROM
	CUSTOMER
WHERE
	CUSTOMER_ID=#{customer_ID}
	AND
	CUSTOMER_PW=#{customer_PW}
</select>	
	
</mapper>